<!DOCTYPE html>
<html>
  <head>
    <title>MusicCollaborationDynt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <link rel="stylesheet" type="text/css" href="userpage.css"> -->
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 -->
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="nav">
      <a href="/">Home</a>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <%= link_to "New Project", new_song_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
