<!DOCTYPE html>
<html>
  <head>
    <title>MusicCollaborationDynt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <link rel="stylesheet" type="text/css" href="userpage.css"> -->
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     -->
    <!-- Latest compiled JavaScript -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <link rel="stylesheet" href="http://www.atlasestateagents.co.uk/css/tether.min.css">
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- used for search-bar autofill grabbing jedWatson react-select -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="https://unpkg.com/classnames/index.js"></script>
    <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
    <script src="https://unpkg.com/react-select/dist/react-select.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css"> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-select/0.9.1/react-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-select/0.9.1/react-select.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-select/0.9.1/react-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-select/0.9.1/react-select.min.js"></script> -->

    <!-- jquery-ui -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <!-- may need to remove -->
  </head>

  <body>

    <nav id="navigation-bar-top"class="navbar navbar-inverse">
<!--
      <%= form_tag(users_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search For User" %>
        <%= submit_tag "Search" %>
      <% end %> -->
      <%= react_component "SearchBar" %>
        <% if flash[:notice] %>
          <div class="alert alert-warning">
            <%= flash[:notice]%>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        <% end %>
        <a class= "navbar-brand top_margin" href="/">Home</a>

        <% if user_signed_in? %>
          <div class="nav-ul-holder">
            <ul class="nav-ul">
              <li><%= link_to current_user.username, user_path(current_user) %></li>
              <li><%= link_to "New Project", new_song_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        <% else %>
          <div class = "right_nav">
          <%= link_to "Sign In", new_user_session_path, :class => "navbar-brand top_margin" %>
          <%= link_to "Register", new_user_registration_path, :class => "navbar-brand top_margin" %>
        </div>
        <% end %>
<<<<<<< 9068b5af06b42cdffefa70bcb158626755eb0907




=======
>>>>>>> auto complete working
    </nav>
    <%= yield %>
  </body>
</html>
