<!DOCTYPE html>
<html>
  <head>
    <title>MusicCollaborationDynt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <link rel="stylesheet" type="text/css" href="userpage.css"> -->
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <a class= "navar-brand top_margin" href="/">Home</a>

        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <%= link_to "New Project", new_song_path %>
          <%= link_to current_user.username, user_path(current_user) %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
